version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-name: "@snapshot-labs/*"
    groups:
      snapshot:
        patterns:
          - "@snapshot-labs/*"
