#sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar,
#sidebar *,
#sidebar-content,
#sidebar-content * {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

#sidebar::-webkit-scrollbar,
#sidebar *::-webkit-scrollbar,
#sidebar-content::-webkit-scrollbar,
#sidebar-content *::-webkit-scrollbar {
  display: none !important;
}
